{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="jumbotron goodgirl mr-3 ml-3 mb-0 pt-0 pb-0 mt-2 bg-purple-light text-yellow" style="max-height:90vh">
        <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <h3 class="login-heading mb-4">Connexion</h3>
                                <form method="post">
                                    {% if error %}
                                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    {% endif %}

                                    {% if app.user %}
                                        <div class="mb-3">
                                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                                        </div>
                                    {% endif %}
                                    <div class="form-label-group-login">
                                        <input type="text" id="inputUsername" name="username" class="form-control" value="{{ last_username }}" required autofocus>
                                        <!--label for="inputUsername">Email address</label-->
                                    </div>

                                    <div class="form-label-group-login">
                                        <input type="password" name="password" id="inputPassword" class="form-control"  required>
                                        <!--label for="inputPassword">Password</label-->
                                    </div>
                                    <input type="hidden" name="_csrf_token"
                                           value="{{ csrf_token('authenticate') }}"
                                    >
                                    <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Sign in</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
