{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

        <div class="jumbotron goodgirl mr-3 ml-3 mb-0 pt-0 pb-0 mt-2 bg-purple-light text-yellow" style="max-height:90vh">
            <div class="row no-gutter">
                <div class="col-6">
                    <img class="'img-fluid" src="{{ asset('img/box.png') }}" style="max-height:90vh;">
                </div>
                <div class="col-6">
                    <div class="login d-flex align-items-center py-5">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-9 col-lg-8 mx-auto">
                                    <h3 class="login-heading mb-4">Inscription</h3>
                                    {{ form_start(registrationForm) }}
                                    <div class="form-label-group-login">
                                        {{ form_widget(registrationForm.username) }}
                                        <label class='text-black' for="registration_form_username">Nom d'utilisateur</label>
                                        {{  form_errors(registrationForm.username) }}
                                    </div>
                                    <div class="form-label-group-login">
                                        {{ form_widget(registrationForm.plainPassword) }}
                                        <label class='text-black' for="registration_form_password">Mot de passe</label>
                                        {{ form_errors(registrationForm.plainPassword) }}
                                    </div>


                                    {{ form_row(registrationForm.agreeTerms) }}

                                    <button class="btn btn-lg btn-danger btn-block btn-login text-uppercase font-weight-bold mb-2 text-white">S'inscrire</button>
                                    {{ form_end(registrationForm) }}
                                    <p>Déjà inscrit ? <a href='{{ path('app_login') }}' class="btn btn-login btn-sm  btn-primary text-white font75 p-1 pr-2 pl-2">Se connecter</a></p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}

