{% extends 'base.html.twig' %}

{% block title %}{{ game.name }}{% endblock %}

{% block body %}

<div  class="jumbotron bg-purple-light goodgirl text-yellow mr-3 ml-3 mb-0 pt-3 pb-0 mt-2">
    <div class="row" >
    <div class="col-xl-4">
        <div class="row pr-2" >
            {% set nb_players = players_by_order|length %}
            {% for player in players_by_order %}
                {% set i_player = loop.index %}
                {% if (nb_players == 5  and i_player == 4) or (nb_players == 4  and (i_player == 1 or i_player == 3)) or (nb_players == 2  and (i_player == 1)) %}
                    <div class="col-xl-2 pb-1 pt-0 pl-1 pr-1"></div>
                {% endif %}
                <div class="col-xl-4 pb-1 pt-0 pl-1 pr-1">
                    <div class="card p-1 {% if player.isplaying == true %}bg-warning{% else %}bg-purple{% endif %}" id="card_{{ player.id}}">
                        <div class="card-header text-center pt-0 pb-1">
                            {% set uname_l = player.user.username|length %}
                            {% set f_size =  (uname_l/8 <= 1)? 1.5 : 1.5 / (uname_l/8) %}
                            <p class="m-0" style="font-size:{{ f_size }}rem;line-height:1.5rem;min-height:1.5rem;max-height:1.5rem;">{{ player.user.username }}</p>
                        </div>

                        <div class="card-body p-0">
                            <div class="card">
                                <img class="card-img img-fluid bg-purple-light p-1" src="/img/monsters/to-right/{{ player.monster.imgname}}" alt="{{ player.monster.name}}" {% if player.incity != 0 %} style="filter: sepia(100%) grayscale(1000%);"{% endif %}>
                                <div class="card-img-overlay img-fluid p-0" >
                                    {% if player.incity == 1 %}
                                        <img class="img-fluid p-1" src="/img/symbols/tokyo1.png" >
                                    {% elseif player.incity == 2 %}
                                        <img class="img-fluid p-1" src="/img/symbols/tokyo2.png" >
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row m-0 p-0">
                                <div class="col-xl-9 m-0 p-0 mt-1">
                                    <div class="row text-center m-0">
                                        <div class="col-2 p-0 ">
                                            <img src="/img/symbols/heart.png" style="max-height:16px;"></img>
                                        </div>
                                        <div class="col-10 text-center p-0 pt-1">
                                            <div class="progress" style="width:{% if player.hpmax == 12 %}100{% else %}83.333{% endif %}%;">
                                                <div class="progress-bar bg-danger" role="progressbar" style="width:{{ 100 * player.hp / player.hpmax }}%" aria-valuenow="{{ player.hp }}" aria-valuemin="0" aria-valuemax="{{ player.hpmax }}">{{ player.hp }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row text-center m-0 ">
                                        <div class="col-2 p-0 ">
                                            <img src="/img/symbols/star.png" style="max-height:18px;" ></img>
                                        </div>
                                        <div class="col-10 text-center p-0 pt-1">
                                            <div class="progress"  style="width:83.333%;">
                                                <div class="progress-bar bg-primary" role="progressbar" style="width: {{ 100 * player.gp / 20 }}%" aria-valuenow="{{ player.gp }}" aria-valuemin="0" aria-valuemax="20">{{ player.gp }} </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 m-0 p-0 mt-1 pt-1 text-center" >
                                    <img src="/img/symbols/flash.png" class="m-0 p-0" style="max-height:24px;" ><p class="font100 pr-1 mb-0" style="min-width:24px;">{{ player.nbmana }}</p>
                                </div>
                            </div>
                            <div class="row m-0 p-0">
                                <div class="col-xl-3 m-0 p-1"><img class="img-fluid" src="/img/cards/card_verso.png"/></div>
                                <div class="col-xl-3 m-0 p-1"><img class="img-fluid" src="/img/cards/card_verso.png"/></div>
                                <div class="col-xl-3 m-0 p-1"><img class="img-fluid" src="/img/cards/card_verso.png"/></div>
                                <div class="col-xl-3 m-0 p-1"><img class="img-fluid" src="/img/cards/card_verso.png"/></div>
                                <div class="col-xl-3 m-0 p-1"><img class="img-fluid" src="/img/cards/card_verso.png"/></div>
                                <div class="col-xl-3 m-0 p-1"><img class="img-fluid" src="/img/cards/card_verso.png"/></div>
                                <div class="col-xl-3 m-0 p-1"><img class="img-fluid" src="/img/cards/card_verso.png"/></div>
                                <div class="col-xl-3 m-0 p-1"><img class="img-fluid" src="/img/cards/card_verso.png"/></div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if (nb_players == 5  and i_player == 5) or (nb_players == 4  and (i_player == 2 or i_player == 4)) or (nb_players == 2  and (i_player == 2)) %}
                    <div class="col-xl-2 pb-1 pt-0 pl-1 pr-1"></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="col-xl-4">
        <div class="row">
            <div class="col-12 col-sm-10 col-md-10 col-lg-12 col-xl-12 p-0" >
                <img class="img-fluid" src="/img/board.png" alt="Card image">
                <div id="inTokyo1" class="card-img-overlay p-0">
                    {% for player in players_by_order %}
                        {% if player.incity == 1 %}<img class="img-fluid" src="/img/monsters/in-tokyo-1/{{ player.monster.imgname }}"/>{% endif %}
                    {% endfor %}
                </div>
                <div id="inTokyo2" class="card-img-overlay p-0">
                    {% for player in players_by_order %}
                        {% if player.incity == 2 %}<img class="img-fluid" src="/img/monsters/in-tokyo-2/{{ player.monster.imgname }}"/>{% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-xl-12 p-0">
                <div class="row m-0">
                    <div class="col-xl-3 m-0 p-1">
                        <img class="img-fluid border border-dark rounded" src="/img/cards/card.png"/>
                    </div>
                    <div class="col-xl-3 m-0 p-1">
                        <img class="img-fluid border border-dark rounded" src="/img/cards/card.png"/>
                    </div>
                    <div class="col-xl-3 m-0 p-1">
                        <img class="img-fluid border border-dark rounded" src="/img/cards/card.png"/>
                    </div>
                    <div class="col-xl-3 m-0 p-1">
                        <img class="img-fluid border border-dark rounded" src="/img/cards/card_verso.png"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4" >
        <div class="bg-purple-light p-1 text-center rounded mb-2" style="min-height:19.5rem;max-height:19.5rem;border:#000000 1px solid;">
            <p class=" border border-dark bg-purple p-1 m-0 mb-1 rounded">TOUR DE <span id="isplaying_name">{{ playing.user.username }}</span></p>
            <div class="row m-0 p-0 text-center">
                <div class='col-xl-12 font150' id="playBody">
                    {% autoescape true %}
                        {{ playDiv.playBody|raw }}
                    {% endautoescape %}
                </div>
            </div>
            <div class='row m-0 p-0'>
                <div class='col-xl-12' id="playBtn">
                {% if playDiv.playBtn is not null %}
                    <button class='btn btn-danger'>{{ playDiv.playBtn }}</button>
                {% endif %}
                </div>
            </div>
        </div>
        <div id="div_log" class="bg-purple-light p-1 text-center rounded"  style="min-height:19.5rem;max-height:19.5rem;overflow:scroll; border:#000000 1px solid;">
            <p class='border border-dark p-1 m-0 mb-1 bg-purple'>Historique partie :</p>

            {%  for log in list_logs %}

            <p class='border border-dark p-1 m-0 mb-1 '>{{log.htmlContentLog}}</p>
            {% endfor %}
        </div>
    </div>
</div>
    <input type='hidden' id='hasAction' value="{{ hasAction }}">
</div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('play') }}
{% endblock %}

