<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}King of Tokyo{% endblock %}</title>
        <LINK REL="SHORTCUT ICON" href="/img/kot/favicon.ico">
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {% endblock %}
        <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script> 
    </head>
    <body>           
      <nav class="navbar navbar-expand-lg navbar-purple bg-purple rounded mt-2 mr-3 ml-3 pt-0 pb-0">
              <a class="navbar-brand pt-0 pb-0" href="{{ path('home') }}"><img src="/img/kot/index.png" height="30px"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style='color:white;'></span>
              </button>
            
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
         
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle goodgirl" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="text-yellow">Jouer</span>
                    </a>
                    <div class="dropdown-menu bg-purple" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item goodgirl text-yellow" href="{{ path('game.create') }}">Nouvelle Partie</a>
                      <a class="dropdown-item goodgirl text-yellow" href="{{ path('game.create.advanced') }}">Options Avancées</a>
                      <a class="dropdown-item goodgirl text-yellow" href="{{ path('game.list') }}">Rejoindre</a>
                    </div>
                  </li> 
                  <li class="nav-item">
                    <a class="goodgirl text-yellow nav-link " href="#">REGLES</a>
                  </li>   
                  <li class="nav-item">
                    <a class="goodgirl text-yellow nav-link " href="#">CLASSEMENT</a>
                  </li>                 
                </ul>

                

                <div class="form-inline my-2 my-lg-0">
                  <ul class="navbar-nav mr-auto">
                    {% if app.user is null %}
                    
                    <li class="nav-item">
                        <a class="nav-link goodgirl text-yellow" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                    <li class="nav-item">
                      <span class="navbar-text goodgirl text-yellow">-</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link goodgirl text-yellow" href="{{ path('app_register') }}">Inscription</a>
                    </li>
                    {% else %}
                      <li class="nav-item">
                        <span class="navbar-text goodgirl text-yellow">Bienvenue, {{app.user.username}}</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link goodgirl text-yellow" href="{{ path('app_logout') }}"><img src="/img/logout1.png" height="20px"></a>
                    </li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </nav>
            
        {% block body %}{% endblock %}
        
        {{ encore_entry_script_tags('app') }} 
        {{ encore_entry_script_tags('bootstrap4-toggle') }}  
        {% block javascripts %} 
           
        {% endblock %}
       
        
    </body>
</html>
