<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}King of Tokyo{% endblock %}</title>
        <LINK REL="SHORTCUT ICON" href="/img/fav-kot/favicon.ico">
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body>           
      <nav class="navbar navbar-expand-lg navbar-purple bg-purple rounded mt-1 mr-3 ml-3 pt-0 pb-0">
              <a class="navbar-brand pt-0 pb-0" href="{{ path('home') }}"><img src="/img/logos/tokyo.png" height="30px"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style='color:white;'></span>
              </button>
            
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
         
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle goodgirl" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="text-yellow">Nouvelle Partie</span>
                        </a>
                        <div class="dropdown-menu bg-purple" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item goodgirl text-yellow" href="{{ path('game.create') }}">Créer</a>
                          <!--a class="dropdown-item goodgirl text-yellow" href="{{ path('game.create.advanced') }}">Options Avancées</a-->
                          <a class="dropdown-item goodgirl text-yellow" href="{{ path('game.list') }}">Rejoindre</a>
                        </div>
                    </li>

                    {% if app.user %}
                        {% set nb_games = 0 %}
                        {% set nb_games_waiting = 0 %}
                        {% set nb_games_playing = 0 %}
                        {% for p in app.user.players %}
                            {% if p.game.state == 1 or p.game.state == 2 %}
                                {%  set nb_games = nb_games+1 %}
                                {% if p.game.state == 1 %}
                                    {%  set nb_games_waiting = nb_games_waiting+1 %}
                                {% endif %}
                                {% if p.game.state == 2 %}
                                    {%  set nb_games_playing = nb_games_playing+1 %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        {% if nb_games > 0 %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle goodgirl" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="text-yellow">Parties en cours</span>
                                </a>
                                <div class="dropdown-menu bg-purple" aria-labelledby="navbarDropdown">
                                    {% if nb_games_waiting > 0 %}
                                        <p class="p-0 m-0 text-yellow">Parties en attente</p>
                                        {% for p in app.user.players %}
                                            {% if p.game.state == 1 %}<a class="dropdown-item goodgirl text-yellow" href="{{ path('game.lobby', { 'id': p.game.id }) }}">{{ p.game.name }}</a>{% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if nb_games_playing > 0 and nb_games_waiting > 0 %}<div class="dropdown-divider"></div>{% endif %}
                                    {% if nb_games_playing > 0 %}
                                        <p class="p-0 m-0 text-yellow">Parties en cours</p>
                                        {% for p in app.user.players %}
                                            {% if p.game.state == 2 %}<a class="dropdown-item goodgirl text-yellow" href="{{ path('play', { 'id': p.game.id }) }}">{{ p.game.name }}</a>{% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </li>
                        {% endif %}
                    {% endif %}
                    <li class="nav-item">
                      <a class="goodgirl text-yellow nav-link " href="{{ path('rules') }}">Règles</a>
                    </li>

                </ul>

                <div class="form-inline my-2 my-lg-0">
                  <ul class="navbar-nav mr-auto">
                    {% if app.user is null %}
                    
                    <li class="nav-item">
                        <a class="nav-link goodgirl text-yellow" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                    <li class="nav-item">
                      <span class="navbar-text goodgirl text-yellow">-</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link goodgirl text-yellow" href="{{ path('app_register') }}">Inscription</a>
                    </li>
                    {% else %}
                      <li class="nav-item">
                        <span class="navbar-text goodgirl text-yellow">Bienvenue, {{app.user.username}}</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link goodgirl text-yellow" href="{{ path('app_logout') }}"><img src="/img/icons/logout1.png" height="20px"></a>
                    </li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </nav>


      {% block body %}{% endblock %}




      {% block javascripts %}
          {{ encore_entry_script_tags('app') }}
          <script src="https://kit.fontawesome.com/bf25cddf00.js" crossorigin="anonymous"></script>
          {{ encore_entry_script_tags('bootstrap4-toggle') }}
      {% endblock %}
    </body>
</html>
